/WebNet/blog/tests_blog/__pycache__/*
/WebNet/blog/__pycache__/*
/WebNet/blog/migrations/*
!/WebNet/blog/migrations/__init__.py
/WebNet/discussions/__pycache__/*
/WebNet/discussions/migrations/*
!/WebNet/discussions/migrations/__init__.py
/WebNet/forms_app/__pycache__/*
/WebNet/forms_app/migrations/*
!/WebNet/forms_app/migrations/__init__.py
/WebNet/WebNet/__pycache__/*
/WebNet/wiki/site/*
/WebNet/static/*
/WebNet/db.sqlite3
/WebNet/.env
/.idea/*
